In [7]:
import pandas as pd

In [9]:
datos = {
    'Nombre': ['Ana', 'Luis', 'Pedro'],
    'edad' : [23,30,27]
}

df = pd.DataFrame(datos)
print(df)

  Nombre  edad
0    Ana    23
1   Luis    30
2  Pedro    27

In [10]:
# Crear una lista
edad= [30,40,50]

In [16]:
# Convertirla a serie
serie = pd.Series(edad)

In [17]:
# Mostrar resultado
serie

0    30
1    40
2    50
dtype: int64

In [18]:
serie [1]

np.int64(40)

In [19]:
# Cambiar indices
serie = pd.Series(edad, index = ['Alex', 'John', 'Maria'])

In [20]:
serie

Alex     30
John     40
Maria    50
dtype: int64

In [15]:
serie ['Alex']

np.int64(30)

Ejemplo 2

In [21]:
naranjas = pd.Series([1,4,9,2,6,10,200])
print(naranjas)

0      1
1      4
2      9
3      2
4      6
5     10
6    200
dtype: int64

In [22]:
type (naranjas)

pandas.core.series.Series