# Limpieza y transformación de datos

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
salaries = pd.read_csv("./dataset/)

## Tratamiento de duplicados

In [ ]:
salaries.drop_duplicates()

In [ ]:
salaries_limpieza = salaries_limpieza.drop_duplicates()

## Tratamiento de valores nulos NaN

In [ ]:
salaries_limpieza.isna()

In [ ]:
print(f'Valores NaN por columna {salaries_limpieza.isna()}')

In [ ]:
df_sin_nulos.head()

In [ ]:
df_sin_nulos['salary'].head()

In [ ]:
df_sin_nulos_columnas = salaries.dropna(axis=1, how='any')

## Transformación de datos

### 2da Opción:
Reemplazar NaNs por la media

In [ ]:
## Este código toma una columna 'salary' que contiene valores de salario en formato de cadena, 
## elimina cualquier caracter no numérico, extrae los dígitos y convierte la columna resultante en valores numéricos de tipo float. 
# El resultado se almacena en una nueva columna llamada 'salary_numeric'. 
# rEsto es útil cuando la columna 'salary' inicial contiene caracteres no numéricos y se desea trabajar con los salarios como valores numéricos.

df_sin_nulos['salary_numeric'] = df_sin_nulos['salary'].replace('[^\d.]', '', regex=True).str.extract('(\d+)').astype(float)

In [ ]:
import re

# Extrae el primer número válido (entero o decimal) de cada celda y lo convierte a float
df_sin_nulos['salary_numeric'] = df_sin_nulos['salary'].astype(str).apply(
    lambda x: float(re.search(r'\d+(?:\.\d+)?', x).group()) if re.search(r'\d+(?:\.\d+)?', x) else None
)

In [ ]:
df_sin_nulos['salary_numeric']

df_sin_nulos.dtype
df_sin_nulos.info