# üß™ Pr√°cticas por Dataset de Kaggle

## üõçÔ∏è Retail Sales Dataset

üîó Dataset disponible en: [https://www.kaggle.com/datasets/mohammadtalib786/retail-sales-dataset?utm_source=chatgpt.com](https://www.kaggle.com/datasets/mohammadtalib786/retail-sales-dataset?utm_source=chatgpt.com)

In [1]:
import pandas as pd

In [12]:
RSD.describe

<bound method NDFrame.describe of      Transaction ID        Date Customer ID  Gender  Age Product Category  \
0                 1  2023-11-24     CUST001    Male   34           Beauty
1                 2  2023-02-27     CUST002  Female   26         Clothing
2                 3  2023-01-13     CUST003    Male   50      Electronics
3                 4  2023-05-21     CUST004    Male   37         Clothing
4                 5  2023-05-06     CUST005    Male   30           Beauty
..              ...         ...         ...     ...  ...              ...
995             996  2023-05-16     CUST996    Male   62         Clothing
996             997  2023-11-17     CUST997    Male   52           Beauty
997             998  2023-10-29     CUST998  Female   23           Beauty
998             999  2023-12-05     CUST999  Female   36      Electronics
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount
0           3              50           150
1           2             500          1000
2           1              30            30
3           1             500           500
4           2              50           100
..        ...             ...           ...
995         1              50            50
996         3              30            90
997         4              25           100
998         3              50           150
999         4              30           120

[1000 rows x 9 columns]>

**Pregunta:** ¬øCu√°ntas filas y columnas tiene el dataset?

In [4]:
RSD = pd.read_csv('./DataSets/retail_sales_dataset.csv')
# Tu c√≥digo aqu√≠

RSD.shape

(1000, 9)

**Pregunta:** ¬øCu√°les son los tipos de datos de cada columna?

In [11]:
# Tu c√≥digo aqu√≠
RSD.dtypes

Transaction ID       int64
Date                object
Customer ID         object
Gender              object
Age                  int64
Product Category    object
Quantity             int64
Price per Unit       int64
Total Amount         int64
dtype: object

**Pregunta:** ¬øQu√© productos tienen mayores ventas en cantidad?

In [25]:
# Tu c√≥digo aqu√≠
# RSD.pivot_table(values='Quantity', index='Product Category').sort_values(by='Quantity', ascending=False)

top_productos = RSD[['Product Category', 'Quantity']].sort_values(by='Quantity', ascending=False)
top_productos.head()

    Product Category  Quantity
7        Electronics         4
999      Electronics         4
9           Clothing         4
13          Clothing         4
512      Electronics         4

**Pregunta:** ¬øQu√© tiendas venden m√°s productos?

In [27]:
# Tu c√≥digo aqu√≠
top_tiendas = RSD[['Product Category', 'Quantity']].sort_values(by='Quantity', ascending=False)
top_tiendas.head()

    Product Category  Quantity
7        Electronics         4
999      Electronics         4
9           Clothing         4
13          Clothing         4
512      Electronics         4

**Pregunta:** ¬øExisten datos faltantes o duplicados?

In [30]:
# Tu c√≥digo aqu√≠

RSD.isnull().sum()

Transaction ID      0
Date                0
Customer ID         0
Gender              0
Age                 0
Product Category    0
Quantity            0
Price per Unit      0
Total Amount        0
dtype: int64

In [31]:
RSD.duplicated().sum()

np.int64(0)

**Pregunta:** ¬øCu√°l es el ingreso total por tienda?

In [32]:
# Tu c√≥digo aqu√≠

RSD.groupby('Product Category')['Total Amount'].sum()

Product Category
Beauty         143515
Clothing       155580
Electronics    156905
Name: Total Amount, dtype: int64

**Pregunta:** Agrupa las ventas por tipo de producto y encuentra la media de precios.

In [33]:
# Tu c√≥digo aqu√≠
RSD.groupby('Product Category')['Price per Unit'].mean()

Product Category
Beauty         184.055375
Clothing       174.287749
Electronics    181.900585
Name: Price per Unit, dtype: float64

**Pregunta:** Crea una nueva columna llamada `ingreso_total` que sea precio * cantidad.

In [ ]:
# Tu c√≥digo aqu√≠
RSD['ingreso_total']= RSD['Price per Unit'] * RSD['Quantity']

**Pregunta:** Usa una tabla din√°mica para comparar ingresos por tienda y por producto.

In [37]:
# Tu c√≥digo aqu√≠

pd.pivot_table(RSD, values='Total Amount', index='Product Category', aggfunc='sum')

                  Total Amount
Product Category
Beauty                  143515
Clothing                155580
Electronics             156905

## üìà Dummy Advertising and Sales Data

üîó Dataset disponible en: [https://www.kaggle.com/datasets/harrimansaragih/dummy-advertising-and-sales-data?utm_source=chatgpt.com](https://www.kaggle.com/datasets/harrimansaragih/dummy-advertising-and-sales-data?utm_source=chatgpt.com)

**Pregunta:** ¬øCu√°l es el gasto promedio en publicidad por canal (TV, Radio, Peri√≥dico)?

In [41]:
d= pd.read_csv('./DataSets/Dummy_Data_HSS.csv')

# Tu c√≥digo aqu√≠

gasto = d[['TV', 'Radio', 'Social Media']].mean()
print(gasto)

TV              54.066857
Radio           18.160356
Social Media     3.323956
dtype: float64

**Pregunta:** ¬øExiste correlaci√≥n entre el presupuesto publicitario y las ventas?

In [43]:
# Tu c√≥digo aqu√≠
C = d[['TV', 'Radio', 'Social Media', 'Sales']].corr()
print(C)

                    TV     Radio  Social Media     Sales
TV            1.000000  0.869460      0.528168  0.999497
Radio         0.869460  1.000000      0.607452  0.869105
Social Media  0.528168  0.607452      1.000000  0.528906
Sales         0.999497  0.869105      0.528906  1.000000

**Pregunta:** ¬øQu√© campa√±as tienen ventas superiores a la media?

In [44]:
# Tu c√≥digo aqu√≠

ventasM = d['Sales'].mean()
cam = d[d['Sales'] > ventasM]
print(cam)

        TV      Radio  Social Media Influencer       Sales
3     83.0  30.020028      6.922304       Mega  298.246340
6     55.0  24.893811      4.273602      Micro  198.679825
8     76.0  24.648898      7.130116      Macro  270.189400
10    62.0  24.345189      5.151483       Nano  224.961019
12    64.0  20.240424      3.921148      Micro  229.632381
...    ...        ...           ...        ...         ...
4561  60.0  21.841864      5.092528      Macro  210.680016
4563  93.0  25.285149      2.805840      Macro  327.466288
4564  99.0  36.024174      4.288755      Macro  355.807121
4568  71.0  20.610685      6.545573       Nano  249.101915
4570  71.0  17.534640      1.940873      Macro  253.610411

[2239 rows x 5 columns]

**Pregunta:** Filtra las campa√±as con publicidad en TV > 200 y Radio > 20.

In [45]:
# Tu c√≥digo aqu√≠
Fcam = d[(d['TV'] > 200) & (d['Radio'] > 20)]
print(Fcam)

Empty DataFrame
Columns: [TV, Radio, Social Media, Influencer, Sales]
Index: []

**Pregunta:** Agrupa por canal publicitario y calcula la media de ventas.

In [46]:
# Tu c√≥digo aqu√≠
mv = d.groupby('Influencer')['Sales'].mean()
print(mv)

Influencer
Macro    195.613601
Mega     190.593666
Micro    191.809095
Nano     191.934304
Name: Sales, dtype: float64

**Pregunta:** Crea una columna de ROI estimado usando una f√≥rmula simple.

In [47]:
# Tu c√≥digo aqu√≠
d['Gasto Total'] = d['TV'] + d['Radio'] + d['Social Media']
d['ROI'] = (d['Sales'] - d['Gasto Total']) / d['Gasto Total']
print(d[['Sales', 'Gasto Total', 'ROI']].head())

        Sales  Gasto Total       ROI
0   54.732757    25.474214  1.148555
1   46.677897    24.647332  0.893832
2  150.177829    59.799856  1.511341
3  298.246340   119.942332  1.486581
4   56.594181    24.843406  1.278036

**Pregunta:** Realiza una pivot_table para ver ventas promedio por cada tipo de canal.

In [48]:
# Tu c√≥digo aqu√≠

vp = pd.pivot_table(d, values='Sales', index=['Influencer'], aggfunc='mean')
print(vp)

                 Sales
Influencer
Macro       195.613601
Mega        190.593666
Micro       191.809095
Nano        191.934304

## üé¨ The Movies Dataset

üîó Dataset disponible en: [https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset?utm_source=chatgpt.com](https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset?utm_source=chatgpt.com)

**Pregunta:** ¬øCu√°les son las pel√≠culas con mayor presupuesto?

In [49]:
movies = pd.read_csv('./DataSets/MovieFranchises.csv')

In [51]:
# Tu c√≥digo aqu√≠

pres = movies.sort_values(by='Budget', ascending=False)
print(pres[['Title', 'Budget']].head(10))

                                            Title       Budget
50                              Avengers: Endgame  400000000.0
43        Star Wars: Episode VIII - The Last Jedi  317000000.0
36     Star Wars: Episode VII - The Force Awakens  306000000.0
45                         Avengers: Infinity War  300000000.0
33                        Avengers: Age of Ultron  280000000.0
46                        Solo: A Star Wars Story  275000000.0
52  Star Wars: Episode IX - The Rise of Skywalker  275000000.0
29            The Hobbit: The Desolation of Smaug  250000000.0
21   Harry Potter and the Deathly Hallows: Part 1  250000000.0
26              The Hobbit: An Unexpected Journey  250000000.0

**Pregunta:** ¬øQu√© pel√≠culas obtuvieron mayor ganancia (ingresos - presupuesto)?

In [55]:
movies.dtypes

index               int64
MovieID            object
Title              object
Lifetime Gross     object
Year               object
Studio             object
Rating             object
Runtime           float64
Budget            float64
ReleaseDate        object
VoteAvg           float64
VoteCount         float64
FranchiseID       float64
dtype: object

In [58]:
movies['Ganancia'] = pd.to_numeric(movies['Lifetime Gross'].replace('[\$,]', '', regex=True), errors='coerce')

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
C:\Users\c411i\AppData\Local\Temp\ipykernel_21940\535337634.py:1: SyntaxWarning: invalid escape sequence '\$'
  movies['Ganancia'] = pd.to_numeric(movies['Lifetime Gross'].replace('[\$,]', '', regex=True), errors='coerce')

In [63]:
# Tu c√≥digo aqu√≠
movies['Lifetime Gross'] = pd.to_numeric(movies['Lifetime Gross'].replace('[\\$,]', '', regex=True), errors='coerce')
movies['Budget'] = pd.to_numeric(movies['Budget'].replace('[\\$,]', '', regex=True), errors='coerce')

ganancia = movies.sort_values(by='Ganancia', ascending=False)
print(ganancia[['Title', 'Ganancia']].head(10))

                                           Title      Ganancia
50                             Avengers: Endgame  2.797501e+09
36    Star Wars: Episode VII - The Force Awakens  2.069522e+09
45                        Avengers: Infinity War  2.048360e+09
56                       Spider-Man: No Way Home  1.915878e+09
34                                Jurassic World  1.671537e+09
25                                  The Avengers  1.518816e+09
33                       Avengers: Age of Ultron  1.402810e+09
44                                 Black Panther  1.347598e+09
23  Harry Potter and the Deathly Hallows: Part 2  1.342360e+09
43       Star Wars: Episode VIII - The Last Jedi  1.332699e+09

**Pregunta:** ¬øCu√°ntas pel√≠culas hay por g√©nero?

In [64]:
# Tu c√≥digo aqu√≠

peli = movies['Title'].nunique()
print(f'Total de peliculas: {peli}')

Total de peliculas: 163

**Pregunta:** ¬øExisten pel√≠culas con presupuesto o ingresos nulos?

In [65]:
# Tu c√≥digo aqu√≠

presP = movies[movies['Budget'].isnull()]
ingreP = movies[movies['Lifetime Gross'].isnull()]
print(presP)
print(ingreP)

     index      MovieID            Title  Lifetime Gross              Year  \
60      60  MovieCastID          MovieID             NaN               NaN
61      61         1001             1001             NaN               NaN
62      62         1002             1001             NaN               NaN
63      63         1003             1001             NaN               NaN
64      64         1004             1001             NaN               NaN
..     ...          ...              ...             ...               ...
600    600          101        Star Wars          1977.0      George Lucas
601    601          102    Jurassic Park          1993.0  Michael Crichton
602    602          103  Wizarding World          2001.0     J. K. Rowling
603    603          104     Middle Earth          2001.0  J. R. R. Tolkien
604    604          105              MCU          2008.0          Stan Lee

    Studio Rating  Runtime  Budget ReleaseDate  VoteAvg  VoteCount  \
60     NaN    NaN      NaN     NaN         NaN      NaN        NaN
61     NaN    NaN      NaN     NaN         NaN      NaN        NaN
62     NaN    NaN      NaN     NaN         NaN      NaN        NaN
63     NaN    NaN      NaN     NaN         NaN      NaN        NaN
64     NaN    NaN      NaN     NaN         NaN      NaN        NaN
..     ...    ...      ...     ...         ...      ...        ...
600    NaN    NaN      NaN     NaN         NaN      NaN        NaN
601    NaN    NaN      NaN     NaN         NaN      NaN        NaN
602    NaN    NaN      NaN     NaN         NaN      NaN        NaN
603    NaN    NaN      NaN     NaN         NaN      NaN        NaN
604    NaN    NaN      NaN     NaN         NaN      NaN        NaN

     FranchiseID  Ganancia
60           NaN       NaN
61           NaN       NaN
62           NaN       NaN
63           NaN       NaN
64           NaN       NaN
..           ...       ...
600          NaN    1977.0
601          NaN    1993.0
602          NaN    2001.0
603          NaN    2001.0
604          NaN    2008.0

[545 rows x 14 columns]
     index      MovieID          Title  Lifetime Gross     Year Studio Rating  \
60      60  MovieCastID        MovieID             NaN      NaN    NaN    NaN
61      61         1001           1001             NaN      NaN    NaN    NaN
62      62         1002           1001             NaN      NaN    NaN    NaN
63      63         1003           1001             NaN      NaN    NaN    NaN
64      64         1004           1001             NaN      NaN    NaN    NaN
..     ...          ...            ...             ...      ...    ...    ...
595    595         1178           1059             NaN      NaN    NaN    NaN
596    596         1179           1060             NaN      NaN    NaN    NaN
597    597         1180           1060             NaN      NaN    NaN    NaN
598    598         1181           1060             NaN      NaN    NaN    NaN
599    599  FranchiseId  FranchiseName             NaN  Creator    NaN    NaN

     Runtime  Budget ReleaseDate  VoteAvg  VoteCount  FranchiseID  Ganancia
60       NaN     NaN         NaN      NaN        NaN          NaN       NaN
61       NaN     NaN         NaN      NaN        NaN          NaN       NaN
62       NaN     NaN         NaN      NaN        NaN          NaN       NaN
63       NaN     NaN         NaN      NaN        NaN          NaN       NaN
64       NaN     NaN         NaN      NaN        NaN          NaN       NaN
..       ...     ...         ...      ...        ...          ...       ...
595      NaN     NaN         NaN      NaN        NaN          NaN       NaN
596      NaN     NaN         NaN      NaN        NaN          NaN       NaN
597      NaN     NaN         NaN      NaN        NaN          NaN       NaN
598      NaN     NaN         NaN      NaN        NaN          NaN       NaN
599      NaN     NaN         NaN      NaN        NaN          NaN       NaN

[475 rows x 14 columns]

**Pregunta:** Crea una nueva columna de rentabilidad (ganancia/presupuesto).

In [66]:
# Tu c√≥digo aqu√≠

movies['Rentabilidad'] = movies['Ganancia'] / movies['Budget']
print(movies[['Title', 'Ganancia', 'Budget', 'Rentabilidad']].sort_values(by='Rentabilidad', ascending=False).head())

                                             Title      Ganancia      Budget  \
0               Star Wars: Episode IV - A New Hope  7.753980e+08  11000000.0
1   Star Wars: Episode V - The Empire Strikes Back  5.383751e+08  18000000.0
3                                    Jurassic Park  1.109802e+09  63000000.0
2       Star Wars: Episode VI - Return of the Jedi  4.751062e+08  32500000.0
12   The Lord of the Rings: The Return of the King  1.146436e+09  94000000.0

    Rentabilidad
0      70.490728
1      29.909726
3      17.615910
2      14.618652
12     12.196130

**Pregunta:** Agrupa por a√±o de lanzamiento y calcula ingresos promedio.

In [68]:
# Tu c√≥digo aqu√≠
ipo = movies.groupby('Year')['Lifetime Gross'].mean()
print(ipo)

Year
1977                7.753980e+08
1980                5.383751e+08
1983                4.751062e+08
1993                1.109802e+09
1997                6.186390e+08
1999                1.027083e+09
2001                7.630552e+08
2002                8.272016e+08
2003                1.146436e+09
2004                7.976608e+08
2005                8.825604e+08
2007                9.422017e+08
2008                4.252836e+08
2009                9.344830e+08
2010                8.005019e+08
2011                7.207521e+08
2012                1.267923e+09
2013                9.395408e+08
2014                8.166577e+08
2015                1.415795e+09
2016                9.632719e+08
2017                9.826514e+08
2018                1.144405e+09
2019                1.533010e+09
2021                7.824844e+08
2022                9.040731e+08
Creator                      NaN
George Lucas        1.977000e+03
J. K. Rowling       2.001000e+03
J. R. R. Tolkien    2.001000e+03
Michael Crichton    1.993000e+03
Stan Lee            2.008000e+03
Name: Lifetime Gross, dtype: float64

**Pregunta:** Realiza una tabla din√°mica que compare ingresos por g√©nero y a√±o.

In [69]:
# Tu c√≥digo aqu√≠

tpMovies = pd.pivot_table(movies, values='Lifetime Gross', index=['Year'], columns=['FranchiseID'], aggfunc='sum')
print(tpMovies)

FranchiseID         101.0         102.0         103.0         104.0  \
Year
1977         7.753980e+08           NaN           NaN           NaN
1980         5.383751e+08           NaN           NaN           NaN
1983         4.751062e+08           NaN           NaN           NaN
1993                  NaN  1.109802e+09           NaN           NaN
1997                  NaN  6.186390e+08           NaN           NaN
1999         1.027083e+09           NaN           NaN           NaN
2001                  NaN  3.687808e+08  1.022290e+09  8.980947e+08
2002         6.537800e+08           NaN  8.799285e+08  9.478962e+08
2003                  NaN           NaN           NaN  1.146436e+09
2004                  NaN           NaN  7.976608e+08           NaN
2005         8.683906e+08           NaN  8.967303e+08           NaN
2007                  NaN           NaN  9.422017e+08           NaN
2008                  NaN           NaN           NaN           NaN
2009                  NaN           NaN  9.344830e+08           NaN
2010                  NaN           NaN  9.770704e+08           NaN
2011                  NaN           NaN  1.342360e+09           NaN
2012                  NaN           NaN           NaN  1.017031e+09
2013                  NaN           NaN           NaN  9.590280e+08
2014                  NaN           NaN           NaN  9.622013e+08
2015         2.069522e+09  1.671537e+09           NaN           NaN
2016         1.058682e+09           NaN           NaN           NaN
2017         1.332699e+09           NaN           NaN           NaN
2018         3.929248e+08  1.310466e+09           NaN           NaN
2019         1.074149e+09           NaN           NaN           NaN
2021                  NaN           NaN           NaN           NaN
2022                  NaN  9.977825e+08           NaN           NaN

FranchiseID         105.0
Year
1977                  NaN
1980                  NaN
1983                  NaN
1993                  NaN
1997                  NaN
1999                  NaN
2001                  NaN
2002                  NaN
2003                  NaN
2004                  NaN
2005                  NaN
2007                  NaN
2008         8.505672e+08
2009                  NaN
2010         6.239333e+08
2011         8.198964e+08
2012         1.518816e+09
2013         1.859594e+09
2014         1.487772e+09
2015         1.922122e+09
2016         1.831134e+09
2017         2.597907e+09
2018         4.018632e+09
2019         5.057892e+09
2021         3.129938e+09
2022         1.714437e+09

## üå¶Ô∏è Climate Insights Dataset

üîó Dataset disponible en: [https://www.kaggle.com/datasets/goyaladi/climate-insights-dataset?utm_source=chatgpt.com](https://www.kaggle.com/datasets/goyaladi/climate-insights-dataset?utm_source=chatgpt.com)

**Pregunta:** ¬øCu√°ntos registros hay por a√±o?

In [79]:
cl.dtypes

Date                         datetime64[ns]
Location                             object
Country                              object
Temperature                         float64
CO2 Emissions                       float64
Sea Level Rise                      float64
Precipitation                       float64
Humidity                            float64
Wind Speed                          float64
Year                                  int32
Month                                 int32
Clasificacion Temperatura            object
dtype: object

In [70]:
cl = pd.read_csv('./DataSets/climate_change_data.csv')

In [71]:
# Tu c√≥digo aqu√≠

cl['Date'] = pd.to_datetime(cl['Date'])
cl['Year'] = cl['Date'].dt.year
regA = cl['Year'].value_counts().sort_index
print(regA)

<bound method Series.sort_index of Year
2000    436
2016    436
2012    436
2020    436
2005    435
2001    435
2003    435
2015    435
2018    435
2004    435
2007    435
2011    435
2008    435
2009    435
2002    434
2006    434
2014    434
2010    434
2013    434
2017    434
2019    434
2021    434
2022    434
Name: count, dtype: int64>

**Pregunta:** ¬øCu√°l es la temperatura media mensual m√°s alta y m√°s baja?

In [72]:
# Tu c√≥digo aqu√≠

cl['Month'] = cl['Date'].dt.month
tempM = cl.groupby('Month')['Temperature'].mean()
print(f"Temperatura media mensual m√°s alta: {tempM.max()}")
print(f"Temperatura media mensual m√°s baja: {tempM.min()}")

Temperatura media mensual m√°s alta: 15.290563089539303
Temperatura media mensual m√°s baja: 14.745375328695793

**Pregunta:** ¬øQu√© meses tienen mayor precipitaci√≥n?

In [73]:
# Tu c√≥digo aqu√≠
Pmen = cl.groupby('Month')['Precipitation'].mean().sort_values(ascending=False)
print(Pmen)

Month
9     50.947790
5     50.818566
3     50.494378
10    50.241029
4     50.131147
6     50.130129
12    50.059991
11    49.900964
2     49.550014
1     49.380073
7     48.663987
8     48.276644
Name: Precipitation, dtype: float64

**Pregunta:** ¬øExisten valores faltantes en alguna columna?

In [74]:
# Tu c√≥digo aqu√≠

vf = cl.isnull().sum()
print(vf)

Date              0
Location          0
Country           0
Temperature       0
CO2 Emissions     0
Sea Level Rise    0
Precipitation     0
Humidity          0
Wind Speed        0
Year              0
Month             0
dtype: int64

**Pregunta:** Agrupa por estaci√≥n del a√±o y calcula la media de temperatura.

In [ ]:
# Tu c√≥digo aqu√≠

def obtener_estacion(mes):
    if mes in [12, 1, 2]:
        return 'Invierno'
    elif mes in [3, 4, 5]:
        return 'Primavera'
    elif mes in [6, 7, 8]:
        return 'Verano'
    else:
        return 'Oto√±o'

df_climate['Estacion'] = df_climate['Month'].apply(obtener_estacion)
media_temp_por_estacion = df_climate.groupby('Estacion')['Temperature'].mean()
print(media_temp_por_estacion)

# cl.groupby('Season')['Temperature'].mean()

KeyError: 'Season'

**Pregunta:** Crea una columna que clasifique los d√≠as como 'calurosos' o 'templados'.

In [75]:
# Tu c√≥digo aqu√≠
umbral = 20

cl['Clasificacion Temperatura'] = cl['Temperature'].apply(lambda x: 'Caluroso' if x > umbral else 'Templado')
print(cl[['Temperature', 'Clasificacion Temperatura']].head())

   Temperature Clasificacion Temperatura
0    10.688986                  Templado
1    13.814430                  Templado
2    27.323718                  Caluroso
3    12.309581                  Templado
4    13.210885                  Templado

**Pregunta:** Genera una pivot_table que muestre la temperatura promedio por a√±o y mes.

In [76]:
# Tu c√≥digo aqu√≠

Tcl = pd.pivot_table(cl, values='Temperature', index='Year', columns='Month', aggfunc='mean')
print(Tcl)

Month         1          2          3          4          5          6   \
Year
2000   14.206357  13.932424  16.353462  14.956865  15.447593  15.312805
2001   14.708201  16.514600  13.973159  15.036136  14.800959  14.723588
2002   13.620897  14.760417  14.212325  13.850515  13.673576  13.502537
2003   14.885562  16.854469  14.114849  14.987196  14.129527  14.842865
2004   15.914895  13.717340  14.815031  15.814182  15.283723  15.279225
2005   15.310610  14.956032  16.763042  14.461071  16.430089  15.204628
2006   13.021321  14.050059  16.181762  14.232334  15.479402  16.405412
2007   14.419660  14.287890  14.973328  13.083154  15.425498  16.270065
2008   15.947948  15.317924  14.456524  14.146105  15.636002  15.028988
2009   15.004275  13.500589  14.986215  13.581644  13.945644  14.644463
2010   16.430713  16.602293  13.796567  14.304352  14.307113  14.671207
2011   14.799867  13.479437  15.693903  15.139654  14.684203  15.105863
2012   15.014508  14.846005  13.295717  15.058723  13.914326  14.940604
2013   14.817513  15.026508  15.169225  15.652592  15.699235  15.624625
2014   14.211216  17.750663  14.098651  16.129610  15.228852  13.684015
2015   14.241782  15.033940  14.004943  16.138518  14.196789  14.114472
2016   14.670316  15.497960  15.300441  15.048309  16.276688  13.696816
2017   14.916962  16.109878  14.875714  14.620956  14.702661  14.718316
2018   14.459322  13.972831  16.687060  15.402600  13.581579  15.342407
2019   14.979902  15.127148  15.228717  15.051345  15.698920  15.217087
2020   16.365128  16.494077  14.513129  13.769750  14.111491  15.371135
2021   15.004946  14.917552  15.611437  15.020317  14.224062  15.239940
2022   13.855182  16.237678  12.730452  13.669461  14.048418  14.726455

Month         7          8          9          10         11         12
Year
2000   15.628546  15.079403  14.245601  14.634586  15.791594  14.747044
2001   15.254576  15.039348  14.480689  14.634459  15.584229  14.721999
2002   15.576326  14.671967  16.328612  14.936858  15.609769  14.881162
2003   15.227706  15.968507  15.345826  14.831173  15.958393  14.932671
2004   16.452629  15.951439  14.279708  15.091279  15.018508  15.603309
2005   15.133922  15.070869  15.637863  15.126200  16.467725  14.171810
2006   14.475120  13.628186  15.726648  15.800620  14.232370  15.692140
2007   15.347496  15.393289  16.682545  15.696156  15.788519  15.113820
2008   14.423550  15.095044  14.290230  13.657560  15.499798  14.481284
2009   14.477702  16.043215  13.838197  13.994606  14.802935  14.848085
2010   14.375021  14.925134  14.717537  15.053192  14.369786  13.809852
2011   15.690435  15.687834  13.865234  15.437654  15.467247  16.068971
2012   14.006859  13.204141  15.538426  14.538936  15.288107  14.969530
2013   15.951572  14.614062  14.210218  14.339588  14.792342  13.711844
2014   15.053259  13.415877  15.484833  16.763142  15.735282  15.005282
2015   14.048836  14.783575  15.314595  14.618449  14.371005  14.182403
2016   14.551097  15.774117  13.637672  15.458059  15.202107  15.238861
2017   14.430206  16.142818  15.179017  13.392676  14.928116  14.321032
2018   14.933499  15.235965  13.976580  14.518844  13.422849  14.163839
2019   15.397701  14.697973  13.085429  14.792796  16.787389  15.076437
2020   14.828948  14.722336  16.534824  13.441375  15.383780  15.929036
2021   14.669112  14.603044  15.945297  15.155843  15.000113  16.138813
2022   15.354888  14.516170  14.715461  14.762771  16.138990  15.065756