# Operaciones con listas

## Copiar una lista a otra

FORMA INCORRECTA

In [11]:
lista_1 = [1]
Lista_2 = lista_1
print(f'lista_1: {lista_1}\nlista_2: {Lista_2}')

lista_1: [1]
lista_2: [1]

In [12]:
Lista_2.append(10)

In [13]:
print(Lista_2)

[1, 10]

In [14]:
print(lista_1)

[1, 10]

FORMA CORRECTA

Slicing o Rebanadas

In [ ]:
# SLICING

list_1 = [3,4,5,6,7,8,]
list_1[:]

[3, 4, 5, 6, 7, 8]

In [16]:
list_2 = list_1[:]

In [17]:
list_2.append(11)
list_2

[3, 4, 5, 6, 7, 8, 11]

In [18]:
list_1

[3, 4, 5, 6, 7, 8]

In [ ]:
# COPY

x = [4,6,7,9,12]
y = []

y = x.copy()

print(y)

[4, 6, 7, 9, 12]

### Slicing o Rebanadas - Indices Negativos

Observa el fragmento de código a continuación:

`my_list[start:end]`

1. **start** es el índice del primer elemento incluido en la rebanada
2. **end** es el índice del primer elemento no incluido en la rebada

In [20]:
my_list = [10,8,6,4,2]

my_list[0:2]

[10, 8]

In [21]:
lista2 = my_list[0:3]
print(f'La lista original es {my_list}\nLa nueva lista es {lista2}')

La lista original es [10, 8, 6, 4, 2]
La nueva lista es [10, 8, 6]

In [22]:
my_list [1:]

[8, 6, 4, 2]

In [23]:
my_list[4:-1]

[]

In [1]:
# Dada la lista [10,8,6,4,2], eliminar los números 8 y 6

lista_3 = [10,8,6,4,2]

del lista_3[1:3]
lista_3

[10, 4, 2]

### `pop` remueve el ultimo elemento de la lista si se llama sin argumentos

In [2]:
lista_3

[10, 4, 2]

In [3]:
lista_3.pop()
lista_3

[10, 4]

In [ ]:
lista_3.append(7)
lista_3.append(5)
lista_3.append(9)
lista_3.append(11)

In [6]:
lista_3

[10, 4, 7, 5, 9, 11]

In [7]:
lista_3.pop(5)
lista_3

[10, 4, 7, 5, 9]

In [10]:
list_example = ["a",12, True]
print(list_example)
print(type(list_example))

['a', 12, True]
<class 'list'>

In [11]:
# Lista de listas

list_house = [['hallway', 100],['kitchen', 85]]
print(list_house)
print(type(list_house))

[['hallway', 100], ['kitchen', 85]]
<class 'list'>

In [ ]:
#Tiene acceso a la lista en la posición 1 y su elemento en la posición 0
list_house[1][0]

'kitchen'

In [25]:
list_family = ['heidi', 22, 'ines', 54, 'henry',33, 'oscar', 38]
print(list_family)

['heidi', 22, 'ines', 54, 'henry', 33, 'oscar', 38]

In [19]:
# indexación (entrar a algun lugar de la lista)
print(list_family[2]) #En positivo
print(list_family[-6]) #En negativo

ines
ines

In [18]:
#slicing  [start : end]
#      inclusive : exclusive

print(list_family[3:5]) #No toma el ultimo digito
print(list_family[:5]) #Desde el inicio hasta la posicion 4
print(list_family[5:]) #Desde la posicion 5 hasta el final

[54, 'henry']
['heidi', 22, 'ines', 54, 'henry']
[33, 'oscar', 38]

### **Manipulando listas**

In [20]:
print(list_family)

['heidi', 22, 'ines', 54, 'henry', 33, 'oscar', 38]

In [ ]:
list_family[-1] = 37 # Cambia el ultimo elemento
print(list_family)
list_family[:2] = ['Mayumy', 24] # Reemplaza el elemento 0 y 1
print(list_family)

['heidi', 22, 'ines', 54, 'henry', 33, 'oscar', 37]
['Mayumy', 24, 'ines', 54, 'henry', 33, 'oscar', 37]

In [ ]:
# Agregar y remover elementos de la lsita
#Agregar
fam_ext = list_family + ['Achuchena', 12]
print(fam_ext)

#Eliminar
del fam_ext[3]
#fam_ext.pop(3)
#fam.ext.remove(54)
print(fam_ext)

['Mayumy', 24, 'ines', 54, 'henry', 33, 'oscar', 37, 'Achuchena', 12]
['Mayumy', 24, 'ines', 'henry', 33, 'oscar', 37, 'Achuchena', 12]

In [42]:
# ejercicio - Eliminar "poolhouse" y 24.5

areas = ['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroon', 10.75,
         'bathroom', 10.50, 'poolhouse', 24.5, 'garage', 15.45]
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroon', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 15.45]

In [43]:
del (areas[10:12])
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroon', 10.75, 'bathroom', 10.5, 'garage', 15.45]

# Funciones y paquetes

## **Función**

Es una pieza de código reutilizable, destinada a resolver una tarea en particular

In [44]:
list_fam = [22, 54, 33, 38, 36]
print(list_fam)
print(f'el tamaño de la lista es {len(list_fam)}')
print(f'el valor maximo de la lista es {max(list_fam)}')

[22, 54, 33, 38, 36]
el tamaño de la lista es 5
el valor maximo de la lista es 54

In [45]:
round(1.689,2)

1.69

In [46]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [51]:
first = [51.25 ,18.0 ,20.0]
full_sorted = sorted(first) #Ordena de forma ascendente
full_sorted_asc = sorted(first, reverse=False) #ascendente
full_sorted_desc = sorted(first, reverse=True) #descendente

print(full_sorted)
print(full_sorted_asc)
print(full_sorted_desc)

[18.0, 20.0, 51.25]
[18.0, 20.0, 51.25]
[51.25, 20.0, 18.0]

### **Metodos**

En python todo es objeto. Y cada objeto tiene métodos especificos asociados

- Objetos con direfentes tipos pueden tener métodos con el mismo nombre.

In [56]:
lis_fam = ['heidi', 22, 'ines', 54, 'henry',33, 'oscar', 54]

print(f"Indice: {lis_fam.index('henry')}") # Obtiene el indice de la lista
print(f"Contar: {lis_fam.count(54)}") # Contar cuantas veces aparece algo

Indice: 4
Contar: 2

In [57]:
del (lis_fam[lis_fam.index("henry")])
print(lis_fam)

['heidi', 22, 'ines', 54, 33, 'oscar', 54]

In [59]:
name = "mayumi"
print(name.capitalize())

Mayumi

In [60]:
lista_entornos = ['susel', 'brandon', 'alejandro', 'gabriel']
lista_entornos = lista_entornos[0].capitalize()
print(lista_entornos)

Susel

In [61]:
print(name.replace('y', '*'))

ma*umi

In [62]:
name.upper()

'MAYUMI'

In [63]:
print(lis_fam)
lis_fam.reverse()
print(lis_fam)

['heidi', 22, 'ines', 54, 33, 'oscar', 54]
[54, 'oscar', 33, 54, 'ines', 22, 'heidi']